<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
<!--一下页面不拦截-->
    <http pattern="/login.html" security="none"/>

    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>

    <!--页面拦截规则-->
    <http use-expressions="false">
        <!--当前用户只有拥有ROLE_ADMIN角色才能访问根目录及其子目录资源-->
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <form-login login-page="/login.html" default-target-url="/admin/index.html" authentication-failure-url="/login.html" always-use-default-target="true"/>

        <csrf disabled="true"/>

        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

        <logout logout-success-url="/login.html" logout-url="/mylogout"></logout>
    </http>
    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" authorities="ROLE_ADMIN" password="1234"/>
                <user name="sunwukong" password="dasheng" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
</beans:beans>

